<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>It's Mr. Stick Figure </h1>
    <p>Meggings pop-up paleo gentrify kitsch, scenester copper mug subway
      tile 90's taxidermy butcher. Salvia chartreuse williamsburg copper mug
      man bun tote bag vice. Fanny pack chambray art party pitchfork.
      Seitan +1 williamsburg echo park. Taxidermy asymmetrical fashion axe
      yuccie kickstarter coloring book, leggings bespoke normcore before they
      sold out. Green juice man braid jianbing poutine meggings, lumbersexual
      humblebrag kombucha flexitarian mumblecore gluten-free waistcoat air
      plant letterpress glossier. Lomo master cleanse pickled, edison bulb
      roof party iPhone leggings swag taxidermy PBR&B crucifix normcore food
      truck.</p>
  </div>
</div>
